$banner-height: calc(100vh - 120px);
.body {
	position: relative;
	width: $max-width;
	margin: auto;
	padding: 20px 0;
	.banner {
		position: relative;
		width: 100%;
		height: $banner-height;
		margin: auto;
		@include grid_2x(400px, 1fr);
		.mn-1 {
			@include column_1();
		}
		.mn-2 {
			@include column_2();
			position: relative;
			width: 100%;
			//white-space: nowrap;
			overflow: hidden;
		}
		.meet {
			position: relative;
			width: 100%;
			height: $banner-height;
			.meet-ctn {
				@include post_top();
			}
		}
		.img {
			@include post_top();
		}
	}
	.content {
		position: relative;
		width: 80%;
		margin: auto;
		padding: 80px 0;
		text-align: center;
		&.ctn {
			text-align: left;
			.mn-1 {
				@include column_1();
			}
			.mn-2 {
				@include column_2();
			}
			.meet {
				@include post_top();
			}
		}
		&.ctn-right {
			@include grid_2x(400px, 1fr);
		}
		&.ctn-left {
			@include grid_2x(1fr, 400px);
		}
	}
	.list {
		position: relative;
		width: 100%;
		margin: auto;

		display: flex;
	    flex-wrap: wrap;

	    .card-item {
	    	width: (($max-width / 2) - 52);
	    	margin: 0 10px 20px 10px;
	    }
	}
	.toGo {
		position: fixed;
		width: 100%;
		left: 0;
		margin: auto;
		bottom: 40px;
		.target {
			@include post_center();
		}
	}
	.login-container {
		position: relative;
		width: 500px;
		margin: auto;
		.lc-block {
			margin-bottom: 15px;
			.ctn-main-font {
				margin-bottom: 5px;
			}
		}
		.lc-right {
			text-align: right;
		}
	}
	.pagination {
		position: relative;
		width: 100%;
		text-align: center;
		padding: 20px 0;
		cursor: default;
		.page-item {
			position: relative;
			width: 45px;
			height: 45px;
			line-height: 45px;
			border-radius: 100%;
			display: inline-block;
			list-style: none;
			font-size: 16px;
			font-weight: 600;
			a {
				display: block;
				width: 45px;
				height: 45px;
				line-height: 45px;
				border-radius: 100%;
				color: $min-color;
				&:hover {
					background-color: rgba(225,225,225,0.54);
					color: $min-color;
				}
			}
			&.active {
				background-color: $int-color;
				color: $pos-color;
			}
			&.disabled {
				color: $err-color;
			}
		}
	}
}