$banner-height: calc(100vh - 120px);
.body {
	position: relative;
	width: $max-width;
	margin: auto;
	padding: 20px 0;
	.banner {
		position: relative;
		width: 100%;
		height: $banner-height;
		margin: auto;
		@include grid_2x(400px, 1fr);
		.mn-1 {
			@include column_1();
		}
		.mn-2 {
			@include column_2();
			position: relative;
			width: 100%;
			//white-space: nowrap;
			overflow: hidden;
		}
		.meet {
			position: relative;
			width: 100%;
			height: $banner-height;
			.meet-ctn {
				@include post_top();
			}
		}
		.img {
			@include post_top();
		}
	}
	.content {
		position: relative;
		width: 80%;
		margin: auto;
		padding: 80px 0;
		text-align: center;
		&.ctn {
			text-align: left;
			.mn-1 {
				@include column_1();
			}
			.mn-2 {
				@include column_2();
			}
			.meet {
				@include post_top();
			}
		}
		&.ctn-right {
			@include grid_2x(400px, 1fr);
		}
		&.ctn-left {
			@include grid_2x(1fr, 400px);
		}
	}
	.list {
		position: relative;
		width: 100%;
		margin: auto;

		display: flex;
	    flex-wrap: wrap;

	    .card-item {
	    	width: (($max-width / 2) - 22);
	    	margin: 0 10px 20px 10px;
	    }
	}
	.toGo {
		position: fixed;
		width: 100%;
		left: 0;
		margin: auto;
		bottom: 40px;
		.target {
			@include post_center();
		}
	}
	.login-container {
		position: relative;
		width: 500px;
		margin: auto;
		&.lg-big-width {
			width: 700px;
		}
		&.border {
			border: 1px rgba(0,0,0,0.1) solid;
			padding: 10px;
			border-radius: 7.5px;
		}
		.lc-block {
			margin-bottom: 15px;
			.ctn-main-font {
				margin-bottom: 5px;
			}
			.image-preview {
				$img-width: (500px / 3);
				.image {
					width: ($img-width - 10);
					padding-bottom: ($img-width - 10);
					margin: 10px 5px;
					display: inline-block;
				}
			}
		}
		.lc-right {
			text-align: right;
		}
	}
	.pagination {
		position: relative;
		width: 100%;
		text-align: center;
		padding: 20px 0;
		cursor: default;
		.page-item {
			position: relative;
			width: 45px;
			height: 45px;
			line-height: 45px;
			border-radius: 100%;
			display: inline-block;
			list-style: none;
			font-size: 16px;
			font-weight: 600;
			a {
				display: block;
				width: 45px;
				height: 45px;
				line-height: 45px;
				border-radius: 100%;
				color: $min-color;
				&:hover {
					background-color: rgba(225,225,225,0.54);
					color: $min-color;
				}
			}
			&.active {
				background-color: $int-color;
				color: $pos-color;
			}
			&.disabled {
				color: $err-color;
			}
		}
	}
	.review-result {
		position: relative;
		width: 100%;
		margin: auto;
		//@include grid_2x(1fr, 1fr);
		img {
			width: 100%;
		}
		.rr-col-1 {
			@include column_1();
		}
		.rr-col-2 {
			@include column_2();
		}
		.rr-block {
			margin-bottom: 15px;
		}
		.rr-special {
			position: relative;
			width: calc(100% - 38px);
			padding: 10px 15px;
			border-radius: 10px;
			margin: 15px 0;
			text-align: center;
			border: 4px $sek-color dashed;
		}
		.rr-status {
			position: relative;
			width: 150px;
			height: 150px;
			border-radius: 10px;
			background-color: #fff;
			border: 4px $min-color solid;
			margin: auto;
			.rr-content {
				@include post_center();
				text-align: center;
				&.real {
					.icn {
						color: $int-color;
						border: 4px $int-color solid;
					}
					.ttl {
						color: $min-color;
					}
				}
				&.fake {
					.icn {
						color: $err-color;
						border: 4px $err-color solid;
					}
					.ttl {
						color: $min-color;
					}
				}
				&.reject {
					.icn {
						color: $min-color;
						border: 4px $min-color solid;
					}
					.ttl {
						color: $min-color;
					}
				}
				.icn {
					position: relative;
					width: 50px;
					height: 50px;
					line-height: 50px;
					border-radius: 100%;
				}
				.ttl {
					padding-top: 5px;
					font-weight: 600;
				}
			}
		}
		.rr-message {
			position: relative;
			width: calc(100% - 38px);
			padding: 15px;
			border: 4px $min-color solid;
			border-radius: 10px;
			color: $min-color;
			font-size: 16px;
			font-weight: 600;
			background-color: rgba(225,225,225,0.34);
		}
		.rr-image {
			column-count: 4;
			column-gap: 5px;
		}
	}
}