.card-item {
	position: relative;
	width: 100%;
	border: 1px rgba(0,0,0,0.1) solid;
	margin-top: 10px;
	margin-bottom: 30px;
	border-radius: 7px;
	overflow: hidden;
	.top {
		padding: 15px 15px 0 15px;
		&.ci-image {
			.img {
				position: relative;
				width: calc(100% - 2px);
				height: 150px;
				border: 1px rgba(0,0,0,0.1) solid;
				border-radius: 7px;
				overflow: hidden;
				cursor: pointer;
				background-color: rgba(225,225,225,0.34);
				@include grid_3x(1fr, 1fr, 1fr);
				.cl-1 {
					@include column_1();
				}
				.cl-2 {
					@include column_2();
				}
				.cl-3 {
					@include column_3();
				}
				&:hover {
					background-color: rgba(225,225,225,0.54);
				}
			}
		}
		&.ci-link {
			.link {
				position: relative;
				width: calc(100% - 32px);
				height: 150px;
				padding: 0 15px;
				overflow: hidden;
				border-radius: 7px;
				border: 1px rgba(0,0,0,0.1) solid;
				background-color: rgba(225,225,225,0.34);
				color: $min-color;
				&:hover {
					background-color: rgba(225,225,225,0.54);
				}
				.ttl {
					@include post_top();
				}
			}
		}
	}
	.mid {
		padding: 15px;
	}
	.bot {
		position: relative;
		width: 100%;
		height: 50px;
		@include bdr_top();
		.link {
			position: relative;
			width: 50%;
			height: 50px;
			line-height: 50px;
			float: left;
			text-align: center;
			font-weight: 600;
			font-size: 16px;
			color: $min-color;
			&:hover {
				background-color: rgba(225,225,225,0.34);
				color: $int-color;
			}
		}
	}
}

.card-profile {
	position: relative;
	text-align: center;
	border-radius: 7.5px;
	@include bdr_all();
	.top {
		width: calc(100% - 30px);
		padding: 15px 15px 0 15px;
		.image {
			position: relative;
			margin: auto;
		}
	}
	.mid {
		padding: 15px 0;
	}
	.bot {
		width: calc(100% - 30px);
		padding: 0 15px 15px 15px;
		a {
			position: relative;
			width: 100%;
			height: 45px;
			line-height: 45px;
			display: block;
			text-align: center;
			background-color: $int-color;
			color: #fff;
			border-radius: 5px;
		}
	}
}

.frame-profile {
	position: relative;
	width: 1000px;
	margin: auto;
	@include grid_2x(300px, 1fr);
	.fp-block {
		/*position: fixed;
		width: 250px;*/
		width: calc(100% - 30px);
		padding: 15px;
		border-radius: 7.5px;
		margin-top: 10px;
		background-color: rgba(225,225,225,0.34);
		.top {
			text-align: center;
			.image {
				margin: auto;
			}
		}
		.mid {
			padding: 10px 0 15px 0;
			line-height: 1.5;
		}
	}
	.fp-left {
		@include column_1();
		width: calc(100% - 20px);
		padding: 0 10px;
	}
	.fp-right {
		@include column_2();
		width: calc(100% - 30px);
		padding: 0 15px;
	}
}