.ctn-main-font {
  font-family: "FontFirst", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600; }
  .ctn-main-font.ctn-big {
    font-size: 54px; }
  .ctn-main-font.ctn-standar {
    font-size: 44px; }
  .ctn-main-font.ctn-small {
    font-size: 34px; }
  .ctn-main-font.ctn-mikro {
    font-size: 24px; }
  .ctn-main-font.ctn-22px {
    font-size: 22px; }
  .ctn-main-font.ctn-20px {
    font-size: 20px; }
  .ctn-main-font.ctn-18px {
    font-size: 18px; }
  .ctn-main-font.ctn-16px {
    font-size: 16px; }
  .ctn-main-font.ctn-14px {
    font-size: 14px; }
  .ctn-main-font.ctn-upp {
    text-transform: uppercase; }
  .ctn-main-font.ctn-normal {
    text-transform: normal; }
  .ctn-main-font.ctn-center {
    text-align: center; }
  .ctn-main-font.ctn-sek-color {
    color: rgba(0, 0, 0, 0.34); }
  .ctn-main-font.ctn-min-color {
    color: rgba(0, 0, 0, 0.54); }
  .ctn-main-font.ctn-int-color {
    color: #3fa9f5; }
  .ctn-main-font.ctn-err-color {
    color: #ff0000; }
  .ctn-main-font.ctn-white-color {
    color: #fff; }
  .ctn-main-font.ctn-line {
    line-height: 1.5; }
  .ctn-main-font.ctn-thin {
    font-weight: 500; }
  .ctn-main-font.ctn-center {
    text-align: center; }
  .ctn-main-font.ctn-left {
    text-align: left; }
  .ctn-main-font.ctn-right {
    text-align: right; }

.padding-20px {
  padding: 20px 0; }

.padding-15px {
  padding: 15px 0; }

.padding-10px {
  padding: 10px 0; }

.padding-5px {
  padding: 5px 0; }

.padding-bottom-20px {
  padding-bottom: 20px; }

.padding-bottom-15px {
  padding-bottom: 15px; }

.padding-bottom-10px {
  padding-bottom: 10px; }

.padding-bottom-5px {
  padding-bottom: 5px; }

.padding-top-20px {
  padding-top: 20px; }

.padding-top-15px {
  padding-top: 15px; }

.padding-top-10px {
  padding-top: 10px; }

.padding-top-5px {
  padding-top: 5px; }

.bdr-bottom {
  border-bottom: 1px rgba(0, 0, 0, 0.1) solid; }

.bdr-top {
  border-top: 1px rgba(0, 0, 0, 0.1) solid; }

.bdr-all {
  border: 1px rgba(0, 0, 0, 0.1) solid; }

.header {
  position: relative;
  width: 100%;
  height: 75px;
  background-color: #fff; }
  .header .place {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
    padding: 15px 0;
    background-color: #fff;
    z-index: 50; }
    .header .place .main {
      position: relative;
      width: 1000px;
      height: 45px;
      margin: auto;
      display: grid;
      display: -ms-grid;
      grid-template-columns: 150px 1fr;
      -ms-grid-columns: 150px 1fr; }
      .header .place .main .mn-1 {
        grid-column: 1;
        -ms-grid-column: 1; }
      .header .place .main .mn-2 {
        grid-column: 2;
        -ms-grid-column: 2; }
      .header .place .main .logo {
        line-height: 40px; }
      .header .place .main .menu-ctn {
        display: inline-block;
        vertical-align: top; }
      .header .place .main .menu-init {
        position: absolute;
        right: 0; }
      .header .place .main .menu-header {
        position: relative;
        cursor: pointer;
        margin-left: 30px; }
        .header .place .main .menu-header li {
          list-style: none;
          display: inline-block;
          text-transform: uppercase;
          height: 45px;
          line-height: 45px;
          padding: 0 15px;
          color: rgba(0, 0, 0, 0.54);
          font-weight: 600;
          font-size: 14px; }
          .header .place .main .menu-header li:hover {
            color: #3fa9f5;
            cursor: pointer; }
          .header .place .main .menu-header li.active {
            color: #3fa9f5; }

.body {
  position: relative;
  width: 1000px;
  margin: auto;
  padding: 20px 0; }
  .body .banner {
    position: relative;
    width: 100%;
    height: calc(100vh - 120px);
    margin: auto;
    display: grid;
    display: -ms-grid;
    grid-template-columns: 400px 1fr;
    -ms-grid-columns: 400px 1fr; }
    .body .banner .mn-1 {
      grid-column: 1;
      -ms-grid-column: 1; }
    .body .banner .mn-2 {
      grid-column: 2;
      -ms-grid-column: 2;
      position: relative;
      width: 100%;
      overflow: hidden; }
    .body .banner .meet {
      position: relative;
      width: 100%;
      height: calc(100vh - 120px); }
      .body .banner .meet .meet-ctn {
        position: relative;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        transform: translate(0, -50%); }
    .body .banner .img {
      position: relative;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      transform: translate(0, -50%); }
  .body .content {
    position: relative;
    width: 80%;
    margin: auto;
    padding: 80px 0;
    text-align: center; }
    .body .content.ctn {
      text-align: left; }
      .body .content.ctn .mn-1 {
        grid-column: 1;
        -ms-grid-column: 1; }
      .body .content.ctn .mn-2 {
        grid-column: 2;
        -ms-grid-column: 2; }
      .body .content.ctn .meet {
        position: relative;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        transform: translate(0, -50%); }
    .body .content.ctn-right {
      display: grid;
      display: -ms-grid;
      grid-template-columns: 400px 1fr;
      -ms-grid-columns: 400px 1fr; }
    .body .content.ctn-left {
      display: grid;
      display: -ms-grid;
      grid-template-columns: 1fr 400px;
      -ms-grid-columns: 1fr 400px; }
  .body .list {
    position: relative;
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap; }
    .body .list .card-item {
      width: 478px;
      margin: 0 10px 20px 10px; }
  .body .toGo {
    position: fixed;
    width: 100%;
    left: 0;
    margin: auto;
    bottom: 40px; }
    .body .toGo .target {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .body .login-container {
    position: relative;
    width: 500px;
    margin: auto; }
    .body .login-container.lg-big-width {
      width: 700px; }
    .body .login-container.border {
      border: 1px rgba(0, 0, 0, 0.1) solid;
      padding: 10px;
      border-radius: 7.5px; }
    .body .login-container .lc-block {
      margin-bottom: 15px; }
      .body .login-container .lc-block .ctn-main-font {
        margin-bottom: 5px; }
      .body .login-container .lc-block .image-preview .image {
        width: 156.66667px;
        padding-bottom: 156.66667px;
        margin: 10px 5px;
        display: inline-block; }
    .body .login-container .lc-right {
      text-align: right; }
  .body .pagination {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    cursor: default; }
    .body .pagination .page-item {
      position: relative;
      width: 45px;
      height: 45px;
      line-height: 45px;
      border-radius: 100%;
      display: inline-block;
      list-style: none;
      font-size: 16px;
      font-weight: 600; }
      .body .pagination .page-item a {
        display: block;
        width: 45px;
        height: 45px;
        line-height: 45px;
        border-radius: 100%;
        color: rgba(0, 0, 0, 0.54); }
        .body .pagination .page-item a:hover {
          background-color: rgba(225, 225, 225, 0.54);
          color: rgba(0, 0, 0, 0.54); }
      .body .pagination .page-item.active {
        background-color: #3fa9f5;
        color: #fff; }
      .body .pagination .page-item.disabled {
        color: #ff0000; }
  .body .review-result {
    position: relative;
    width: 70%;
    margin: auto; }
    .body .review-result img {
      width: 100%; }
    .body .review-result .rr-col-1 {
      grid-column: 1;
      -ms-grid-column: 1; }
    .body .review-result .rr-col-2 {
      grid-column: 2;
      -ms-grid-column: 2; }
    .body .review-result .rr-block {
      margin-bottom: 15px; }
    .body .review-result .rr-special {
      position: relative;
      width: calc(100% - 38px);
      padding: 10px 15px;
      border-radius: 10px;
      margin: 15px 0;
      text-align: center;
      border: 4px rgba(0, 0, 0, 0.34) dashed; }
    .body .review-result .rr-status {
      position: relative;
      width: 150px;
      height: 150px;
      border-radius: 10px;
      background-color: #fff;
      border: 4px rgba(0, 0, 0, 0.54) solid;
      margin: auto; }
      .body .review-result .rr-status .rr-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center; }
        .body .review-result .rr-status .rr-content.real .icn {
          color: #3fa9f5;
          border: 4px #3fa9f5 solid; }
        .body .review-result .rr-status .rr-content.real .ttl {
          color: rgba(0, 0, 0, 0.54); }
        .body .review-result .rr-status .rr-content.fake .icn {
          color: #ff0000;
          border: 4px #ff0000 solid; }
        .body .review-result .rr-status .rr-content.fake .ttl {
          color: rgba(0, 0, 0, 0.54); }
        .body .review-result .rr-status .rr-content.reject .icn {
          color: rgba(0, 0, 0, 0.54);
          border: 4px rgba(0, 0, 0, 0.54) solid; }
        .body .review-result .rr-status .rr-content.reject .ttl {
          color: rgba(0, 0, 0, 0.54); }
        .body .review-result .rr-status .rr-content .icn {
          position: relative;
          width: 50px;
          height: 50px;
          line-height: 50px;
          border-radius: 100%; }
        .body .review-result .rr-status .rr-content .ttl {
          padding-top: 5px;
          font-weight: 600; }
    .body .review-result .rr-message {
      position: relative;
      width: calc(100% - 38px);
      padding: 15px;
      border: 4px rgba(0, 0, 0, 0.54) solid;
      border-radius: 10px;
      color: rgba(0, 0, 0, 0.54);
      font-size: 16px;
      font-weight: 600;
      background-color: rgba(225, 225, 225, 0.34); }
    .body .review-result .rr-image {
      column-count: 4;
      column-gap: 5px; }

.txt {
  width: calc(100% - 30px);
  height: 45px;
  font-size: 15px;
  font-weight: 900;
  padding: 0 15px;
  border-radius: 5px; }
  .txt.txt-no-shadow {
    box-shadow: 0 0 0 0 transparent; }
  .txt.txt-radius {
    border-radius: 45px; }
  .txt.txt-main-color {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.84); }
  .txt.txt-primary-color {
    background-color: #f0f0f0;
    color: rgba(0, 0, 0, 0.84); }
  .txt.txt-box-shadow {
    border: 1px rgba(0, 0, 0, 0.1) solid; }
  .txt.txt-sekunder-color {
    height: 38px;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.84);
    border: 1px rgba(0, 0, 0, 0.1) solid; }
  .txt.txt-sekunder-color:focus {
    border: 1px rgba(0, 0, 0, 0.84) solid; }
  .txt.txt-unbox {
    box-shadow: 0 0 0 #fff; }
  .txt.txt-small {
    width: 100%;
    padding: 0; }
  .txt.edit-text {
    min-width: calc(100% - 30px);
    max-width: calc(100% - 30px);
    height: auto;
    min-height: 100px;
    max-height: 200px;
    overflow-y: auto;
    padding: 15px;
    border-radius: 5px; }
    .txt.edit-text img {
      width: 100%; }

.cck {
  position: relative;
  width: 25px;
  height: 25px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer; }
  .cck.cck-min-color {
    border: 1px #3fa9f5 solid;
    color: #3fa9f5; }

.slc {
  width: calc(100%);
  height: 45px;
  font-size: 14px;
  font-weight: 900;
  border-radius: 5px; }
  .slc * {
    color: rgba(0, 0, 0, 0.34); }
  .slc option {
    width: calc(100% - 30px);
    padding: 15px;
    color: rgba(0, 0, 0, 0.34); }
  .slc.slc-sekunder-color {
    height: 38px;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.54);
    border: 1px rgba(0, 0, 0, 0.1) solid; }

/*button normal*/
.btn {
  position: relative;
  width: auto;
  height: 45px;
  padding: 0 15px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer; }
  .btn.btn-no-pad {
    padding: 0 0; }
  .btn.btn-pad-5px {
    padding: 0 5px; }
  .btn.btn-upp {
    text-transform: uppercase; }
  .btn.btn-radius {
    border-radius: 45px; }
  .btn.btn-all {
    width: 100%; }
  .btn.btn-div {
    height: 45px;
    line-height: 45px;
    text-align: center; }
  .btn.btn-circle {
    width: 45px;
    height: 45px;
    line-height: 45px;
    padding: 0 0;
    border-radius: 100%;
    text-align: center; }
  .btn.btn-main-color {
    background-color: #3fa9f5;
    color: #fff; }
  .btn.btn-danger-color {
    background-color: #ff0000;
    color: #fff; }
  .btn.btn-main2-color {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.34); }
    .btn.btn-main2-color:hover {
      background-color: rgba(0, 0, 0, 0.2);
      color: rgba(0, 0, 0, 0.34); }
  .btn.btn-sekunder-color {
    background-color: rgba(0, 0, 0, 0.34);
    color: rgba(0, 0, 0, 0.34);
    border: 1px rgba(0, 0, 0, 0.1) solid; }
    .btn.btn-sekunder-color:hover {
      color: rgba(0, 0, 0, 0.54);
      border: 1px rgba(0, 0, 0, 0.34) solid; }
    .btn.btn-sekunder-color.btn-no-border {
      border: 0 #fff solid; }
  .btn.btn-primary-color {
    background-color: rgba(225, 225, 225, 0.34);
    color: rgba(0, 0, 0, 0.54); }
    .btn.btn-primary-color:hover {
      background-color: rgba(225, 225, 225, 0.54);
      color: rgba(0, 0, 0, 0.54); }
  .btn.btn-color-fb {
    background-color: #44749d;
    color: #fff; }
  .btn.btn-color-gg {
    background-color: #9a0000;
    color: #fff; }
  .btn.btn-color-gg-2 {
    background-color: #fff;
    color: #9a0000;
    border: 1px #9a0000 solid; }
  .btn.btn-color-gg-3 {
    background-color: #fff;
    color: #9a0000; }
  .btn.btn-color-tw {
    background-color: #60d3f5;
    color: #fff; }

.card-item {
  position: relative;
  width: 100%;
  border: 1px rgba(0, 0, 0, 0.1) solid;
  margin-top: 10px;
  margin-bottom: 30px;
  border-radius: 7px;
  overflow: hidden; }
  .card-item .top {
    padding: 15px 15px 0 15px; }
    .card-item .top.ci-image .img {
      position: relative;
      width: calc(100% - 2px);
      height: 150px;
      border: 1px rgba(0, 0, 0, 0.1) solid;
      border-radius: 7px;
      overflow: hidden;
      cursor: pointer;
      background-color: rgba(225, 225, 225, 0.34);
      display: grid;
      display: -ms-grid;
      grid-template-columns: 1fr 1fr 1fr;
      -ms-grid-columns: 1fr 1fr 1fr; }
      .card-item .top.ci-image .img .cl-1 {
        grid-column: 1;
        -ms-grid-column: 1; }
      .card-item .top.ci-image .img .cl-2 {
        grid-column: 2;
        -ms-grid-column: 2; }
      .card-item .top.ci-image .img .cl-3 {
        grid-column: 3;
        -ms-grid-column: 3; }
      .card-item .top.ci-image .img:hover {
        background-color: rgba(225, 225, 225, 0.54); }
    .card-item .top.ci-link .link {
      position: relative;
      width: calc(100% - 32px);
      height: 150px;
      padding: 0 15px;
      overflow: hidden;
      border-radius: 7px;
      border: 1px rgba(0, 0, 0, 0.1) solid;
      background-color: rgba(225, 225, 225, 0.34);
      color: rgba(0, 0, 0, 0.54); }
      .card-item .top.ci-link .link:hover {
        background-color: rgba(225, 225, 225, 0.54); }
      .card-item .top.ci-link .link .ttl {
        position: relative;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        transform: translate(0, -50%); }
  .card-item .mid {
    padding: 15px; }
  .card-item .bot {
    position: relative;
    width: 100%;
    height: 50px;
    border-top: 1px rgba(0, 0, 0, 0.1) solid; }
    .card-item .bot .link {
      position: relative;
      width: 50%;
      height: 50px;
      line-height: 50px;
      float: left;
      text-align: center;
      font-weight: 600;
      font-size: 16px;
      color: rgba(0, 0, 0, 0.54); }
      .card-item .bot .link:hover {
        background-color: rgba(225, 225, 225, 0.34);
        color: #3fa9f5; }

.frame-profile {
  position: relative;
  width: 1000px;
  margin: auto;
  display: grid;
  display: -ms-grid;
  grid-template-columns: 300px 1fr;
  -ms-grid-columns: 300px 1fr; }
  .frame-profile .fp-block {
    /*position: fixed;
    width: 250px;*/
    width: calc(100% - 30px);
    padding: 15px;
    border-radius: 7.5px;
    margin-top: 10px;
    background-color: rgba(225, 225, 225, 0.34); }
    .frame-profile .fp-block .top {
      text-align: center; }
      .frame-profile .fp-block .top .image {
        margin: auto; }
    .frame-profile .fp-block .mid {
      padding: 10px 0 15px 0;
      line-height: 1.5; }
  .frame-profile .fp-left {
    grid-column: 1;
    -ms-grid-column: 1;
    width: calc(100% - 20px);
    padding: 0 10px; }
  .frame-profile .fp-right {
    grid-column: 2;
    -ms-grid-column: 2;
    width: calc(100% - 30px);
    padding: 0 15px; }

.image {
  position: relative;
  background-size: cover !important;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f0f0f0; }
  .image.no-bg-color {
    background-color: transparent; }
  .image.image-20px {
    width: 20px;
    height: 20px; }
  .image.image-25px {
    width: 25px;
    height: 25px; }
  .image.image-30px {
    width: 30px;
    height: 30px; }
  .image.image-35px {
    width: 35px;
    height: 35px; }
  .image.image-40px {
    width: 40px;
    height: 40px; }
  .image.image-45px {
    width: 45px;
    height: 45px; }
  .image.image-50px {
    width: 50px;
    height: 50px; }
  .image.image-60px {
    width: 60px;
    height: 60px; }
  .image.image-70px {
    width: 70px;
    height: 70px; }
  .image.image-80px {
    width: 80px;
    height: 80px; }
  .image.image-90px {
    width: 90px;
    height: 90px; }
  .image.image-100px {
    width: 100px;
    height: 100px; }
  .image.image-110px {
    width: 110px;
    height: 110px; }
  .image.image-120px {
    width: 120px;
    height: 120px; }
  .image.image-130px {
    width: 130px;
    height: 130px; }
  .image.image-140px {
    width: 140px;
    height: 140px; }
  .image.image-150px {
    width: 150px;
    height: 150px; }
  .image.image-160px {
    width: 160px;
    height: 160px; }
  .image.image-170px {
    width: 170px;
    height: 170px; }
  .image.image-180px {
    width: 180px;
    height: 180px; }
  .image.image-190px {
    width: 190px;
    height: 190px; }
  .image.image-200px {
    width: 200px;
    height: 200px; }
  .image.image-all {
    width: 100%;
    height: 100%; }
  .image.image-full {
    width: 100%;
    padding-bottom: 100%; }
  .image.image-radius {
    border-radius: 7.5px; }
  .image.image-circle {
    border-radius: 100%; }
  .image.image-pointer {
    cursor: pointer; }
  .image.image-more:hover .ttl {
    color: rgba(0, 0, 0, 0.54); }
  .image .ttl {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(0, 0, 0, 0.34);
    font-size: 16px;
    font-weight: 600; }
  .image .icn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(0, 0, 0, 0.34); }
    .image .icn .icn-big {
      font-size: 34px; }

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.34);
  z-index: 50;
  display: none; }
  .popup .place {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .popup .place.sign {
      width: 500px;
      height: 200px;
      background-color: #fff;
      border-radius: 7.5px;
      display: grid;
      display: -ms-grid;
      grid-template-columns: 1fr 1fr 1fr;
      -ms-grid-columns: 1fr 1fr 1fr; }
      .popup .place.sign .cmp-1 {
        position: relative;
        grid-column: 1;
        -ms-grid-column: 1; }
      .popup .place.sign .cmp-2 {
        position: relative;
        grid-column: 2;
        -ms-grid-column: 2; }
      .popup .place.sign .cmp-3 {
        position: relative;
        grid-column: 3;
        -ms-grid-column: 3; }
    .popup .place.compose {
      width: 400px;
      height: 200px;
      background-color: #fff;
      border-radius: 7.5px;
      display: grid;
      display: -ms-grid;
      grid-template-columns: 1fr 1fr;
      -ms-grid-columns: 1fr 1fr; }
      .popup .place.compose .cmp-1 {
        position: relative;
        grid-column: 1;
        -ms-grid-column: 1; }
      .popup .place.compose .cmp-2 {
        position: relative;
        grid-column: 2;
        -ms-grid-column: 2; }
    .popup .place a {
      position: relative;
      width: 100%;
      height: 100%;
      display: block; }
      .popup .place a:hover {
        background-color: rgba(225, 225, 225, 0.34); }
    .popup .place .content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center; }
      .popup .place .content .icn {
        font-size: 32px;
        color: rgba(0, 0, 0, 0.54);
        padding-bottom: 15px; }
      .popup .place .content .ttl {
        font-size: 16px;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.54); }

.dashboard {
  position: relative;
  width: 100%;
  display: grid;
  display: -ms-grid;
  grid-template-columns: 330px 1fr;
  -ms-grid-columns: 330px 1fr; }
  .dashboard .side {
    grid-column: 1;
    -ms-grid-column: 1;
    position: relative;
    width: 100%;
    height: 100vh; }
    .dashboard .side .menu {
      position: fixed;
      top: 0;
      left: 0;
      width: 300px;
      height: 100vh;
      background-color: #555;
      overflow-y: auto; }
      .dashboard .side .menu .hd {
        position: relative;
        width: calc(100% - 20px);
        padding: 15px 10px;
        background-color: rgba(0, 0, 0, 0.2); }
      .dashboard .side .menu li {
        position: relative;
        list-style: none;
        width: calc(100% - 30px);
        padding: 0 15px;
        height: 60px;
        line-height: 60px;
        color: #fff;
        font-weight: 600;
        font-size: 16px; }
        .dashboard .side .menu li a {
          color: #fff; }
        .dashboard .side .menu li:hover {
          background-color: rgba(0, 0, 0, 0.1); }
        .dashboard .side .menu li .icn {
          width: 30px;
          font-size: 16px; }
  .dashboard .body {
    position: relative;
    width: 100%;
    grid-column: 2;
    -ms-grid-column: 2; }
    .dashboard .body .login-container {
      width: calc(100% - 30px);
      padding: 0 0;
      padding-right: 30px; }
    .dashboard .body table {
      position: relative;
      width: calc(100% - 30px);
      padding: 0 15px;
      border: 1px rgba(0, 0, 0, 0.1) solid; }
      .dashboard .body table tr th {
        padding: 15px 0;
        text-transform: uppercase;
        border-bottom: 1px rgba(0, 0, 0, 0.1) solid; }
      .dashboard .body table tr td {
        padding: 10px 0;
        text-align: center; }
        .dashboard .body table tr td a {
          color: rgba(0, 0, 0, 0.54);
          font-size: 16px;
          font-weight: 600; }
          .dashboard .body table tr td a:hover {
            color: #3fa9f5; }

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  font-family: "FontFirst", "Helvetica Neue", Helvetica, Arial, sans-serif; }

html {
  background-color: #fff; }

a {
  text-decoration: none;
  border: 0 #fff solid; }

.img {
  width: 100%; }

/*# sourceMappingURL=app.css.map */
